@import "commons/variables.scss";
.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .logo {
        width: 150px;
        margin-right: 30px;
    }
    .search {
        width: 100%;
        position: relative;
        .form {
            flex: 1;
            background-color: $secondary-color;
            height: 42px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            width: 100%;
            display: flex;
            height: 100%;
        }
        .input {
            font-size: 1.8rem;
            padding: 6px 6px 6px 16px;
            outline: none;
            color: $text-secondary-color;
            border: none;
            flex: 1;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            &:focus .search-history {
                display: block;
            }
        }
        .btnSubmit {
            background-color: $primary-color;
            color: $secondary-color;
            text-align: center;
            padding: 5px 24px 5px;
            border-radius: 3px;
            margin: 4px;
            outline: none;
            border: none;
            cursor: pointer;
        }
        .icon {
            font-size: 1.6rem;
        }
    }
    .cart {
        text-align: center;
        .cartIcon {
            width: 120px;
            cursor: pointer;
        }
        .icon {
            font-size: 2.4rem;
            color: $secondary-color;
        }
        &:hover .cartList {
            display: block;
        }
        .cartLink {
            padding: 20px;
        }
        .cartTotal {
            position: absolute;
            top: 8px;
            right: 51px;
            background-color: $secondary-color;
            color: $primary-color;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border: 1px solid $primary-color;
            box-shadow: 0 1px 2px $primary-color;
        }
    }
    .cartList {
        position: relative;
        display: none;
        transform-origin: calc(100% - 32px) top;
        animation: cartGrowth ease-in 0.2s;
        will-change: opacity, transform;
        z-index: 1;
        border-radius: 3px;
    }
    .lable {
        display: flex;
        margin-top: 3px;
        .item {
            margin-right: 10px;
        }
        .link {
            font-size: 1.4rem;
            color: $secondary-color;
            cursor: pointer;
        }
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes cartGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
