@import "commons/variables.scss";
.firstSearch {
    margin: 20px 0;
    background-color: $secondary-color;
    .heading {
        padding: 12px 10px;
        border-bottom: 1px solid $border-color;
        .title {
            font-size: 1.8rem;
            font-weight: 400;
            color: $primary-color;
        }
    }
    .item {
        height: 290px;
        padding: 24px 12px;
        position: relative;
        .img {
            width: 100%;
        }
        .top {
            position: relative;
            display: inline-flex;
            justify-content: center;
        }
        .quantity {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30px;
            background-color: #333;
            opacity: 0.6;
            text-align: center;
            .lable {
                line-height: 30px;
                color: $secondary-color;
            }
        }
        .body {
            text-align: center;
            font-size: 1.8rem;
            color: $text-secondary-color;
            .title {
                font-weight: 400;
            }
        }
        .lableTop {
            position: absolute;
            top: 0;
            background-color: #ff7d3b;
            height: 30px;
            border-bottom-left-radius: 1px;
            border-bottom-right-radius: 1px;
            .text {
                padding: 8px 4px;
                font-size: 1.2rem;
                color: $secondary-color;
            }
            &::after {
                content: "";
                position: absolute;
                right: 0px;
                top: 30px;
                cursor: pointer;
                border-width: 6px 15px;
                border-style: solid;
                border-color: #ff7d3b transparent transparent transparent;
            }
        }
    }
}
