@import "commons/variables.scss";

.item {
    position: relative;
    height: 290px;
    background-color: $secondary-color;
    box-shadow: 0 1px 2px #e6e6e6;
    border-radius: 2px;
    z-index: 2;
    transition: all 0.2s linear;
    &:hover {
        transform: translateZ(1px);
        border: 1px solid $primary-color;
    }
    &:hover .semilar {
        z-index: 3;
        display: block;
        border: 1px solid $primary-color;
        transition: all 0.2s ease;
    }
    .top {
        width: 100%;
        .img {
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            height: 190px;
        }
        .like {
            position: absolute;
            top: 10px;
            left: -2px;
            .text {
                color: $secondary-color;
                font-size: 1.4rem;
                border-radius: 2px;
                padding: 0 3px 1px 3px;
                background-color: $primary-color;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                border-top: 3px solid $primary-color;
                border-left: 3px solid transparent;
                filter: brightness(60%);
            }
        }
    }
    .body {
        padding: 8px;
        .name {
            font-size: 1.4rem;
            color: #333;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-height: 1.4rem;
        }
        .timeDiscount {
            .text {
                font-size: 1rem;
                border-left: 1px dotted #fff;
                border-right: 1px dotted #fff;
                padding: 2px 6px;
                color: $secondary-color;
                background-color: #f69113;
            }
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .price {
                font-size: 1.4rem;
                color: $primary-color;
                font-weight: 500;
            }
            .sold {
                font-size: 1.4rem;
                color: $text-secondary-color;
            }
        }
    }
    .semilar {
        position: absolute;
        background-color: $primary-color;
        bottom: -24px;
        left: -1px;
        width: 100%;
        display: none;
        text-align: center;
        box-sizing: content-box;

        .link {
            font-size: 1.4rem;
            color: $secondary-color;
            cursor: pointer;
        }
    }
}
